<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        
        <!--Make sure that you provide available database name in below path-->
        <property name="connection.url">jdbc:mysql://localhost:3306/Simpili_db</property> 
        <property name="connection.username">root</property>

        <!--change the password(root) to your mysql passeord-->
        <property name="connection.password">Ahyaankaif08</property> 

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <!--If you are using mysql 5, change MYSQL8Dialect to MYSQL5Dialect-->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
 		
 		<property name="hibernate.hbm2ddl.auto">update</property>
 		<!-- To update an table without deleting an previous table -->

 		<!-- Below is the path to entity classes. If your entity class is in different package, change it to that package.-->
        <!--All your entity classes shoulbe be mapped here-->
 		<mapping class = "com.simpili.bean.Employee"/><!--package and class name*-->

    </session-factory>

</hibernate-configuration>
